<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1-IM Klasseliste | Klasseliste</title>
    <link rel="stylesheet" href="/starter/CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Saira:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
    
<div class="topsection">

    <h1 class="topsection-title">1IM-Klasseliste</h1>

</div>

<div class="settingsection">


    <h1 class="settingsection-title">Filtrer elever</h1>

    <form action="GET" class="settingsection-form">

    <div class="settingsection-form_nameContainer">

        <label class="settingsection-form_nameContainer--nameTitle" for="names">Velg navn</label>

        <select name="names" id="names" class="settingsection-form_nameContainer--select">

            <option value="first"></option>
            <option value="Victor">Victor</option>
            <option value="Edvard">Edvard</option>
            <option value="Martin">Martin</option>
            <option value="Jesper">Jesper</option>


        </select>

    </div>

    <div class="settingsection-form_classContainer">
        <label class="settingsection-form_classContainer--classTitle" for="class">Velg klasse</label>

        <select name="class" id="class" class="settingsection-form_classContainer--select">

            <option value="first"></option>
            <option value="A">A</option>
            <option value="B">B</option>
        
        </select>
</div>  

</form>
</div>

</body>
</html>