<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1-IM Klasseliste | Klasseliste</title>
    <link rel="stylesheet" href="/starter/CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Saira:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
    
<div class="topsection">

    <h1 class="topsection-title">1IM-Klasseliste</h1>

</div>

<div class="settingsection">


    <h1 class="settingsection-title">Filtrer elever</h1>

    <form action="GET" class="settingsection-form">


    <label class="settingsection-form_nameTitle" for="names">Navn:</label>

     <input type="text"  name="names" id="names" class="settingsection-form_name">
        



    <label class="settingsection-form_classTitle" for="class">Velg klasse</label>

    <select name="class" id="class" class="settingsection-form_select">

         <option value="first"></option>
         <option value="A" id="optionA">A</option>
         <option value="B" id="optionB">B</option>
        
    </select>


</form>
</div>

<div class="cardsection">

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_1%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_1%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>

</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_2%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_2%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>

</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_3%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_3%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>

</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_4%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_4%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>

</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_5%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_5%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>

</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_6%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_6%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>

</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_7%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_7%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>
</div>    <div class="cardsection-card card" id="card" value="nameOfPerson">

    <h1 class="cardsection-card--title">{%NAME_8%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_8%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>

</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_9%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_9%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>

</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_10%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_10%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_11%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_11%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_12%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_12%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_13%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_13%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_14%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_14%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_15%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_15%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_16%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_16%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_17%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_17%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_18%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_18%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_19%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_19%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_20%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_20%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_21%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_21%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card"->
    <h1 class="cardsection-card--title">{%NAME_22%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_22%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_23%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_23%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_24%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_24%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card"->
    <h1 class="cardsection-card--title">{%NAME_25%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_25%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_26%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_26%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_27%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_27%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card"->
    <h1 class="cardsection-card--title">{%NAME_28%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_28%}</p>

    <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_29%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_29%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

<div class="cardsection-card card" id="card" value="nameOfPerson">
    <h1 class="cardsection-card--title">{%NAME_30%}</h1>

    <p class="cardsection-card--bornIn">{%BIRTH_30%}</p>
        
        <p class="cardsection-card--className">{%CLASS_}</p>
</div>

</div>

</body>
</html>