.topsection {
    height: 35vh;
    width: 35vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: var(--border-bottom-7);
    border-left: var(--border-bottom-7);

    margin: 4rem 4rem 0rem 4rem;

    &-title {
        color: #fff;
        font-size: var(--fs-heading-medium);
    }
}

.settingsection {
    height: 30vh;
    width: 100vw;

    margin-top: 20rem;

    background-color: #fff;


    &-title {
        display: flex;
        justify-content: flex-start;
        padding: 2rem 4rem;
        font-size: var(--fs-title);
    }

    &-form {
        width: 30vw;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

       
            

            &_nameTitle {
                font-size: var(--fs-text-big);
                margin-left: 4rem;

                align-self: center;
                grid-column: 1 / 1;
                grid-row: 1 / 1;
            }

            &_name {
                height: 75%;
                width: 75%;

                border: var(--border-3);
                padding: 1rem 1rem;
                margin-left: 4rem;
                font-size: var(--fs-text-big);
                font-family: 'Saira';

                align-self: center;
                grid-column: 1 / 1;
                grid-row: 2 / 2;
            }

       

            &_classTitle {
                font-size: var(--fs-text-big);
                margin-left: 4rem;
                
                align-self: center;
                grid-column: 2 / 2;
                grid-row: 1 / 1;
            }
    
            &_select {
                height: 50%;
                width: 50%;
                
                align-self: center;
                margin-left: 4rem;
                grid-column: 2 / 2;
                grid-row: 2 / 2;
            }

    }
}

.settingsectionHome {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    height: 30vh;
    width: 100vw;

    background-color: #fff;

    margin-top: 20rem;

    &-title {
        font-size: var(--fs-heading);

        justify-self: center;
        align-self: center;
    }

    &-classBtn {
        display: flex;
        justify-content: center;
        align-items: center;

        grid-row: 2 / 2;
        width: 20rem;
        height: 5rem;
    }

    &-apiBtn {
        display: flex;
        justify-content: center;
        align-items: center;

        grid-row: 2 / 2;
        width: 20rem;
        height: 5rem;
    }
}

.btn {
    font-family: 'Saira';
    font-size: var(--fs-text-big);

    align-self: center;
    justify-self: center;

    text-decoration: none;
    padding: 2rem 2rem;
    background-color: var(--primary-green);
    border: none;
    color: #fff;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-1rem);
    box-shadow: var(--shadow-light-4);
}

.cardsection {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    

    &-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        height: 15vh;
        width: 20vw;

        margin-top: 7.5rem;
        margin-left: 4rem;


        box-shadow: var(--shadow-dark-2);
        border-bottom: var(--border-bottom-7);
        border-left: var(--border-bottom-7);

        &--title {
            margin-left: 1rem;
            
            color: #fff;
            
            align-self: center;
            grid-column: 1 / 1;
            grid-row: 1 / 1;
        }

        &--bornIn {
            font-size: var(--fs-text);
            color: #fff;

            margin-left: 1rem;

            align-self: center;
            grid-column: 1 / 1;
            grid-row: 2 / 2;
        }

        &--className {
            font-size: var(--fs-text);
            color: #fff;

            margin-left: 1rem;

            align-self: center;
            grid-column: 2 / 2;
            grid-row: 2 / 2;
        }
    }
    
    &-card:last-of-type {
        margin-bottom: 7.5rem;
    }

}
